* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
  }
  
  .layout {
    display: grid;
  
    grid-template-columns: 250px 1fr;
  
    min-height: 100vh;
  }
  
  /* SIDEBAR */
  
  .sidebar {
    background: #111827;
    color: white;
    padding: 30px;
  }
  
  .sidebar h2 {
    margin-bottom: 30px;
  }
  
  .sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  
  /* MAIN CONTENT */
  
  .main-content {
    padding: 30px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 30px;
  }
  
  .header button {
    padding: 10px 20px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
  }
  
  /* CARDS */
  
  .cards {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
  
    gap: 20px;
  }
  
  .card {
    background: white;
    padding: 30px;
    border-radius: 12px;
  }

  /* Tablet */

  @media (max-width:980px){
    
    .layout{
        grid-template-columns: 80px 1fr;
    }

    .sidebar {
        padding: 20px;
      }

    .sidebar h2{
        display: none;
    }

    .sidebar nav a{
        font-size: 14px;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width:768px){
    
    .layout{
        grid-template-columns:1fr;
    }

    .sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    .sidebar nav{
        flex-direction: row;
        gap: 10px;
    }

    .main-content{
        padding: 20px;
    }

    .header{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .cards{
        grid-template-columns: 1fr;
    }
  }